/* Set max width for #content to 1600px and center it */
#content {
  max-width: 1600px;
  margin: 0 auto; /* Center the content horizontally */
}

#logo_link{
  padding-top: 5px; /* Add padding to the top of the logo_link element */
  justify-self: center;
  align-self: center;
}

/* Center text in navigation links */
nav a {
  text-align: center;
  font-family: 'Bungee', 'Lora', 'Poppins', 'Raleway', sans-serif;
  padding: 35px; /* Add padding around the navigation links */
}

#hero{
display: grid;
grid-template-columns: 1fr 3fr 1fr;
margin-top: -100px;
}

#hero-box{
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-msg{
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 50%;
  transform: translateY(-50%);
}

/* Center text in h1 and h4 elements within #hero-msg */
#hero-msg h1,
#hero-msg h4 {
  color: #f9a71b;
  text-align: center;
  font-family: 'Pacifico', 'Black Ops One', 'Bungee', 'Lora', 'Poppins', 'Raleway', sans-serif;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 40px;
  
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
}

.card-img,
.mountains {
  width: 100%;
  box-shadow: 5px 5px 10px #6f7364;
}

.rivers-card {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

.camping-card {
  grid-column: 5 / 8;
  grid-row: 2 / 3;
}

.rapids-card {
  grid-column: 8 / 11;
  grid-row: 2 / 3;
}

#background {
  grid-column: 1 / 12;
  grid-row: 4 / 10;
  display: flex;
  align-items: center;
}

.mountains {
  grid-column: 2 / 8;
  grid-row: 5 / 9;
  margin-top: 0; /* Remove the top margin */
  margin-bottom: 0; /* Remove the bottom margin */
  border-radius: 24px;
}

.msg {
  grid-column: 6 / 11;
  grid-row: 6 / 7;
}

.card-img {
  border: 10px solid #3EA3D2;
  border-radius: 250px;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #5e5e5e;
}

.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}



/* Center text within .button-box */
.button-box {
  text-align: center;
}

/* Center text within section elements within main */
main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

/* Set the height for #background to 725px */
#background {
  height: 725px;
  background-image: linear-gradient(to bottom, #f9a71b,#746243);
}


/* Step 11 - Background colors and text colors */
body {
  background-color: #ffffff; /* Set the background color of the body */
  font-family: 'Black Ops One', 'Bungee', 'Lora', 'Poppins', 'Raleway', sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h2{
  color: inherit;
  text-decoration: none;
  margin: 0; /* Remove margin from h2 elements */
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-image: linear-gradient(to bottom, #3EA3D2,#144ecd); /* Set the background color of the header */
  display: grid;
  grid-template-columns: 150px auto;
}

nav a:hover {
  background-color: #3097C6; /* Change the background color of navigation links on hover */
}


.book,
.join {
  background-image: linear-gradient(to bottom, #71BF44, #3d5f2a);
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  transition: transform 0.3s;
}

.book:hover,
.join:hover {
  background-color: #609B38;
  transform: scale(1.05);
}


.msg {
  background-image: linear-gradient(to bottom, #3EA3D2, #144ecd);
  line-height: 1.5em;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #6f7364;
}

footer {
  background-color: #555555; /* Set the background color of the footer */
}

nav a {
  text-decoration: none;
  color: #ffffff; /* Set the text color of navigation links */
  text-align: center;
  padding: 25px;
  transition: transform 0.3s;
  border-radius: 5px;
}

nav a:hover {
  background-color: #144ecd; /* Change the background color of navigation links on hover */
  color: #ffffff;
  transform: scale(1.05);
  border-radius: 25%;
}

.home-title {
  color: #3EA3D2; /* Set the text color of the home-title class */
  font-family: 'Pacifico', 'Black Ops One', 'Bungee', 'Lora', 'Poppins', 'Raleway'; /* Specify font families for the home-title class */
  font-size: 2em;
  margin-top: 10px; /* Add top margin to the home-title class */
}

h4 {
  color: #555555; /* Set the text color of h4 elements */
}

.book,
.join {
  color: #ffffff; /* Set the text color of book and join classes */
}

.book:hover,
.join:hover {
  color: #ffffff;
}

.msg h2 {
  margin-bottom: 10px; /* Add bottom margin to h2 elements within the msg class */
  font-size: 20px;
  color: #fdfdff; /* Set the text color of h2 elements within the msg class */
  font-family: 'Lora', 'Poppins', 'Raleway', sans-serif;
}

.msg .join{
  display: block;
  margin-top: 10px; /* Add top margin to the join class within the msg class */
}

.msg p {
  color: #ffffff; /* Set the text color of p elements within the msg class */
  font-size: 1.5em;
  padding-bottom: 10px;
  font-family: 'Lora', 'Poppins', 'Raleway', sans-serif;
}

footer {
  background-image: linear-gradient( #555555, #b1afaf); /* Set the background color of the footer */
  color: #ffffff; /* Set the text color of the footer */
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

footer a {
  color: #ffffff; /* Set the text color of footer links */
}

footer a:hover {
  color: #D9C2A3; /* Change the text color of footer links on hover */
}

/* Set width and height for .logo */
.logo {
  width: 80px; /* Set the width of the logo class */
  height: 80px; /* Set the height of the logo class */
  border-radius: 50%;
  box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.5), 
    0 4px 8px rgba(0, 0, 0, 0.5); 
}

nav{
  display: flex;
  justify-content: space-around;
}

/* Set width for .icon */
.icon {
  width: 80px; /* Set the width of the icon class */
  padding-top: 10px; /* Add top padding to the icon class */
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0; /* Add top and bottom margin to rivers-card, camping-card, and rapids-card classes */
}

/* Set width for #hero-img to 100% */
#hero-img {
  width: 100%;
}

/* Remove text underline and center text in navigation links */
nav a {
  text-align: center;
  color: #ffffff; /* Set the text color of navigation links */
  text-decoration: none;
}

/* Remove text underline from footer links */
footer a {
  text-decoration: none;
}

/* Increase font size for footer paragraphs */
footer p {
  font-size: 1.2em; /* Increase the font size of p elements within the footer */
}

/* Add text underline on hover for footer links */
footer p a:hover {
  text-decoration: none; /* Add underline to footer links on hover */
}

footer .social img{
  padding-top: 15px; /* Add top padding to social media icons within the footer */
  border-radius: 100px;
  transition: transform 0.4s ease-in-out;
      opacity: 1;
}

.social:hover{
  transform: scale(1.1);
  opacity: 0.5;
}

    /* CSS styles for the rivers page */
    body {
      background-image: linear-gradient(to bottom, #ffffff, #007cf0);
    }
    
    #intro {
      background: linear-gradient(90deg, #007cf0, #000);
      padding: 40px;
      text-align: center;
      font-size: 2rem;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
    
    .rivers-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      padding: 0 30px;
    }
    
    .card-container {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin: 0 -15px;
    }
    
    .card {
      --clr: #009688;
      background-color: var(--clr);
      color: rgb(201, 201, 201);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 15px;
      border-radius: 20px;
    }
    
    .card .img-box {
      text-align: center;
    }
    
    .card .img-box img {
      max-width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 20px;
      transition: transform 0.4s ease-in-out;
      opacity: 1;
    }
    
    .card .img-box img:hover {
      transform: scale(1.1);
      opacity: 0.7;
    }
    
    .card h2 {
      margin-top: 0;
      font-size: 25px;
      flex: 1;
    }
    
    .card p {
      margin-bottom: 10px;
      font-size: 20px;
      text-align: left;
    }
    
    .card a {
      color: rgb(199, 199, 199);
      text-decoration: none;
      font-weight: bold;
      font-size: 15px;
    }
    
    .content-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
      align-items: center;
      margin-top: 100px;
      margin-left: 50px;
      box-shadow: 0 10px 10px rgb(167, 167, 167);
    }
    
    .rate-title {
      grid-column: 1;
      font-size: 20px;
      color: rgb(243, 243, 243);
    }
    
    .rate-p {
      grid-column: 1;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 10px;
      color: white;
    }
    
    .image {
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 80px;
    }
    
    .image img {
      width: 500px;
      height: 300px;
      border-radius: 10px;
      transition: opacity 0.4s ease-in-out, transform 0.3s;
    }
    
    .image img:hover {
      opacity: 0.6;
      transform: scale(0.9);
    }
    
    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 60px;
    }
    
    .button {
      display: inline-block;
      padding: 15px 200px;
      background-color: #609B38;
      color: white;
      text-decoration: none;
      font-family: bungee;
      border-radius: 5px;
      width: 100%;
      text-align: center;
      transition: transform 0.3s;
    }
    
    .button:hover {
      transform: scale(1.1);
      background-color: #7ea565;
    }
    
    .video-title {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 80px;
    }
    
    .video-title h2 {
      font-size: 30px;
      color: #dbd9d9;
    }
    
    .video-container {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
    }
    
    
    
@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}
